@import ./_blocks.sass

.layout-exhibition
  padding: 120px
  max-width: 100vw
  width: 80vw

  .button-back
    position: auto
    margin-bottom: 200px
    display: inline-block

  section
    margin: 0 0 120px 0
    article, p
      max-width: 80ch
