@import ./_blocks.sass

.layout-exhibition
  .button-back
    position: auto
    margin-bottom: 200px
    display: inline-flex
    color: var(--color-darkness)
    justify-content: center
    align-items: center
    .text
      margin-left: 20px

  section
    margin: 0 0 120px 0
    article, p
      max-width: 80ch
